<form action="createporto" method="post">
  <input type="text" name="Name" placeholder="First name" >
  <%# <input type="text" name="LastName" placeholder="Last name">
  <input type="text" name="username" placeholder="username" >
  <input type="password" name="password" placeholder="password">
  <input type="text" name="Age" placeholder="Age" >
  <input type="text" name="University" placeholder="University">%>
  <input type="text" name="ProfilePicture" placeholder="FPut your profile picture" >
  <input type="text" name="Screenshots" placeholder="Insert your screenshots" >
  <button>submit</button>
</form>
