<form class="" action="/mainview" method="post">
  <input type="text" name="username" placeholder="username" >
  <input type="password" name="password" placeholder="password">
  <button>submit</button>
  <button>Forget Password</button>
</form>
