<html action="/views/form" method= "post">
<body background = "http://www.futureedsolutions.com/files/welcome%20Small.png">
  <center>
    <br>
    <br>
    <br>
    <h1> WELCOME TO BI & MET STUDENT PORTAL</h1>
  <a href= "/form" > LOGIN<br>
      <a href= "/signup" > SIGNUP<br>
          <a href= "/portosum" > VIEW PORTOFOLIO SUMMARY<br>
</body>
    </html>
