<form action="myporto" method="post">
<input type="text" name="Message" placeholder="You Logged in successfully :)" >
  <button>Add Work</button>
  <button>Update Work</button>
  <button>Delete Work</button>
</form>
