<form action="signup" method="post">
  <input type="text" name="FirstName" placeholder="First name" >
  <input type="text" name="LastName" placeholder="Last name">
  <input type="text" name="username" placeholder="username" >
  <input type="password" name="password" placeholder="password">
  <input type="text" name="Age" placeholder="Age" >
  <input type="text" name="University" placeholder="University">
  <button>submit</button>
</form>
